<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <%= form_for Todo.new, remote: true do |f| %>
      <%= f.text_field :text, class: "new-todo", placeholder: "What needs to be done?", autofocus: true %>
    <% end %>
  </header>
  <% if @todos.present? %>
    <section class="main">
      <input class="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
      <ul class="todo-list">
        <%= render @todos %>
      </ul>
    </section>
    <footer class="footer">
      <span class="todo-count"><strong><%= pluralize @todos.reject(&:completed).count, "item" %></strong> left</span>
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a class="selected" href="#/">All</a>
        </li>
        <li>
          <a href="#/active">Active</a>
        </li>
        <li>
          <a href="#/completed">Completed</a>
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button class="clear-completed">Clear completed</button>
    </footer>
  <% end %>
</section>
